<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Starcounter Release Journal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.8.3/dist/showdown.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.9.0/github-markdown.min.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>

    <div id="app" class="markdown-body">
        <h1>Starcounter Release Journal</h1>
        <p>A list of all release notes from all Starcounter-related repositories. Sorted by release date DESC</p>
        <div>
            <p class="update-date">Last updated: {{updatedOn}}</p>
            <button v-on:click="markAllAsRead()">Mark all as read</button>
            <button onclick="confirm('Really?') && localStorage.clear(); location.reload()">Mark all as unread</button>
            <div class="search">
                    <input type="text" v-on:input="updateSearchCriteria" placeholder="🔍 You can search by repo name and org name">
            </div>
            <div class="orgs-of-interest">
                <label v-for="org in orgs">
                    <input :checked="!org.disabled" type="checkbox" v-on:change="toggleOrg(org)">
                    <span>{{org.orgName}}</span>                    
                </label>
            </div>
        </div>
        <hr>
        <div class="overlay" v-if="!appLoaded">
            Loading...
        </div>
        <div class="releases">
            <div v-for="release in releases" v-bind:class="release.read ? 'read' : 'new'">
                <div class="col span_1_of_2">
                    <button :disabled="release.read" title="Mark as read" v-on:click="setAsRead(release)">✔️</button>

                    <a class="release-name" target="_blank" v-bind:href="'https://github.com/' + release.repoName + '/releases/tag/' + release.tag_name">{{release.repoName}} {{release.tag_name}}</a>
                    –
                    <time :datetime="release.published_at">{{formatDate(release.published_at)}}</time>
                </div>
                <div>
                    <div class="release-body" v-html="convertMarkdown(release.body)"></div>

                </div>

            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>