<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Starcounter Journal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.8.3/dist/showdown.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.9.0/github-markdown.min.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>

    <div id="app" class="markdown-body">
        <h1>Starcounter Journal</h1>
        <p>A list of all release notes from all Starcounter-related repositories.</p>
        <div>
            <p class="update-date">Last updated: {{updatedOn}}</p>
            <button v-on:click="markAllAsRead()">Mark all as read</button>
            <button onclick="confirm('Really?') && localStorage.clear(); location.reload()">Mark all as unread</button>
        </div>
        <div class="overlay" v-if="!appLoaded">
            Loading...
        </div>
        <ul class="bullet-less">
            <li v-for="item in items" v-bind:class="item.unreadsCount == 0 ? 'read' : ''">
                <h1>{{item.name}}
                    <span class="badge" title="Unread releases">{{item.unreadsCount}}</span>
                </h1>
                <ul class="bullet-less">
                    <li v-for="repo in item.repos">
                        <h2>
                            <a target="_blank" v-bind:href="'https://github.com/' + repo.repoName">{{repo.repoName}}</a>
                        </h2>
                        <div class="releases">
                            <div v-for="release in repo.releases" v-bind:class="release.read ? 'read' : 'new'">
                                <table class="release-head-table">
                                    <tr>
                                        <td>
                                            <a target="_blank" v-bind:href="'https://github.com/' + repo.repoName + '/releases/tag/' + release.tag_name">{{release.tag_name}}</a>
                                        </td>
                                        <td>
                                            <span>{{formatDate(release.published_at)}}</span>
                                        </td>
                                        <td style="width: 100%; text-align: right">
                                            <button v-if="!release.read" v-on:click="setAsRead(release)">Mark as read</button>
                                        </td>
                                    </tr>
                                </table>
                                <div class="release-body" v-html="convertMarkdown(release.body)"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <script src="app.js"></script>
</body>

</html>