.bullet-less {
    list-style: none;
}

.read {
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

.read .read {
    /* two nested reads should still 0.5 (not 0.25) */
    opacity: 1!important
}

.markdown-body .release-head-table {
    width: 100%;
}

.markdown-body .release-head-table td {
    border: none;
    font-size: 1.3em
}
.release-name {
    font-size: 1.2em;
    vertical-align: top;
    
}
.markdown-body .release-head-table td:nth-child(1) {
    border-right: 5px solid #eee
}

.markdown-body table tr {
    border: none
}

.releases>div {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eee;
}
.releases>div:nth-child(odd) {
    background: #fCfCFc
}
time {
    font-size: 0.9em;
    vertical-align: middle;
}
.search input {
    margin: 15px 0px;
    width: 100%;
    border: 1px solid #eee;
    padding: 3px;
}
button[disabled='true'] {
    opacity: 0.2
}
.release-body {
    margin: 20px 3%
}

.badge {
    border-radius: 4px;
    background: #eee;
    padding: 0px 6px;
}

.top-table td {
    border: none!important
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center
}

.markdown-body {
    max-width: 1500px;
    width: 100%;
    display: inline-block;
}

body {
    display: flex;
    justify-content: center
}

.markdown-body ol,
.markdown-body ul {
    padding-left: 0
}

button {
    vertical-align: middle;
}

